.navbar {
  padding: 15px 0;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-link {
  margin-left: 15px;
  font-size: 1rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.nav-link.active {
  color: #ffc107 !important;
  font-weight: bold;
}

.navbar-brand{
    letter-spacing:1px;
}

.nav-link{
    transition:.3s;
}

.nav-link:hover{
    color:#0dcaf0 !important;
}