.scroll-top{
    position:fixed;
    bottom:25px;
    right:25px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#0d6efd;
    color:white;
    font-size:25px;
    cursor:pointer;
    box-shadow:0 4px 12px rgba(0,0,0,.3);
    transition:.3s;
    z-index:1000;
}

.scroll-top:hover{
    transform:scale(1.1);
}